@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Orbitron-Regular';
    src:url('../fonts/Orbitron-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  
  
  /* Set the default font for the entire app */
  body {
    font-family: 'Orbitron-Regular', sans-serif;
  }
  .herobgimage{
    background-image: url("/bg.png");
    background-position: center; 
  }

  .gradientbg{
    background-image: url("/lcbg.png");
    background-position: center;
    background-size: cover;
  }
  
  .introbg{
    background-image: url("/newbg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .utilities {
    background-image: url("/ut.svg");
    background-size: cover;
    background-repeat: no-repeat;
    
  }

/* Default styles for larger screens */
.footer-gradient {
  position: absolute;
  width: 500px;
  height: 100px;
  left: 37%;
  bottom: -1;
  background: #bdde05;
  filter: blur(180px);
}

/* Media query for smaller screens, such as mobile devices */
@media screen and (max-width: 767px) {
  .footer-gradient {
      /* Override styles for smaller screens */
      width: 200px;
      left: 30%;
  }
}

/* Security.css */

/* Glassmorphism background styles */
.glassmorphism {
  background: rgba(14, 12, 12, 0.15); /* Set the background color with transparency */
  border-radius: 15px; /* Adjust border radius as needed */
  backdrop-filter: blur(5px); /* Apply a blur effect */
  border: 1px solid rgba(0, 0, 0, 0.18); /* Add a border for contrast */
  padding: 20px; /* Add padding to content within the glassmorphism container */
}

/* Add more specific styles as needed for your components */

