@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Orbitron-Regular';
    src:url('../fonts/Orbitron-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  
  
  /* Set the default font for the entire app */
  body {
    font-family: 'Orbitron-Regular', sans-serif;
  }
  .herobgimage{
    background-image: url("/bg.png");
    background-position: center; 
  }

  .gradientbg{
    background-image: url("/lcbg.png");
    background-position: center;
    background-size: cover;
  }
  
  .introbg{
    background-image: url("/newbg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


/* Default styles for larger screens */
.footer-gradient {
  position: absolute;
  width: 500px;
  height: 100px;
  left: 37%;
  bottom: -1;
  background: #bdde05;
  filter: blur(180px);
}

/* Media query for smaller screens, such as mobile devices */
@media screen and (max-width: 767px) {
  .footer-gradient {
      /* Override styles for smaller screens */
      width: 200px;
      left: 30%;
  }
}


